<div *ngIf="actividad; else noActividad">
  <h2>Detalles de la Actividad</h2>
  <p><strong>Nombre:</strong> {{ actividad.nombre_actividad }}</p>
  <p><strong>Prioridad:</strong> {{ actividad.prioridad }}</p>
  <p><strong>Estado:</strong> {{ actividad.estado }}</p>
  <p><strong>Descripción:</strong> {{ actividad.descripcion }}</p>
  <p *ngIf="actividad.horaInicio"><strong>Hora de Inicio:</strong> {{ actividad.horaInicio }}</p>
  <button (click)="volver()">Volver</button>
</div>

<ng-template #noActividad>
  <p>No se encontró información de la actividad.</p>
</ng-template>
