.seguimiento {
  margin: 0; /* Quita márgenes externos */
  padding: 0; /* Quita paddings externos */
}

.table-responsive {
  overflow-x: auto; /* Habilita scroll horizontal solo si es necesario */
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
