/* Contenedor principal con flexbox */
.d-flex {
  display: flex;
  height: 100vh; /* Para ocupar toda la altura */
  overflow: hidden; /* Evita desbordamientos */
}

.content-wrapper {
  flex: 1; /* Permite que el contenido principal ocupe todo el espacio restante */
  display: flex;
  flex-direction: column; /* Alinea los hijos verticalmente */
  overflow: auto; /* Permite desplazamiento si el contenido excede */
  transition: margin-left 0.3s ease; /* Transición suave al abrir/cerrar el slider */
}

.content-wrapper.collapsed {
  margin-left: 70px; /* Ancho reducido cuando el slider está cerrado */
}

.content-wrapper:not(.collapsed) {
  margin-left: 250px; /* Ancho completo cuando el slider está abierto */
}
