<form [formGroup]="productoForm" (ngSubmit)="onSubmit()" class="p-3">
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="id_producto" class="form-label">ID Producto</label>
        <input
          type="text"
          id="id_producto"
          class="form-control form-control-sm"
          formControlName="id_producto"
          placeholder="ID del Producto"
          required
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input
          type="text"
          id="nombre"
          class="form-control form-control-sm"
          formControlName="nombre"
          placeholder="Nombre"
          required
        />
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="referencia" class="form-label">Referencia</label>
        <input
          type="text"
          id="referencia"
          class="form-control form-control-sm"
          formControlName="referencia"
          placeholder="Referencia"
          required
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="tipo" class="form-label">Tipo</label>
        <input
          type="text"
          id="tipo"
          class="form-control form-control-sm"
          formControlName="tipo"
          placeholder="Tipo"
          required
        />
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="fecha" class="form-label">Fecha</label>
        <input
          type="text"
          id="fecha"
          class="form-control form-control-sm"
          [value]="fechaActual"
          disabled
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="clienteFk" class="form-label">Cliente</label>
        <select
          id="clienteFk"
          class="form-control form-control-sm"
          formControlName="clienteFk"
          required
        >
          <option value="" disabled selected>Seleccione un Cliente</option>
          <option *ngFor="let cliente of clientes" [value]="cliente.id">
            {{ cliente.nombre }}
          </option>
        </select>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="id_usuarioFK" class="form-label">Usuario</label>
        <input
          type="text"
          id="id_usuarioFK"
          class="form-control form-control-sm"
          [value]="usuarioMock"
          disabled
        />
      </div>
    </div>
  
    <button
        type="submit"
        class="btn btn-primary w-100 mt-3"
        [disabled]="!productoForm.valid"
        >
        Guardar Producto
    </button>

  </form>
  