/* Contenedor principal */
.dashboard-container {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

/* Indicadores */
.indicators .indicator-box {
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.indicator-box h5 {
  font-weight: bold;
  font-size: 14px;
}

.indicator-box h2 {
  font-size: 24px;
  margin: 10px 0;
}

.indicator-box p {
  font-size: 12px;
  color: #777;
}

/* Gráficos */

/* Tablas */
.tables table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 20px;
}

.tables th {
  background-color: #f4f4f4;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ddd;
}

.tables td {
  padding: 10px;
  border: 1px solid #ddd;
}

.col-md-3{
  flex: 0 0 auto;
  width: 22% !important;
  margin-left: 30px;
}